<section id="about">
    <div class="wrapper">
        <div class="text-center">
            <h1 class="blue-title">欢迎来到 BiscuitOS 社区</h1>
	    <div class="avatar"></div>
            <div class="content text-center">
                {{ site.author.about_me }}
            </div>
            <div style="margin: 10px 0">
                <a class="btn-primary btn-blue btn-left" href=" /blog/BiscuitOS_JoinMe/" target="_blank">加入我们</a>
				{% if site.author.resume %}
				<a class="btn-primary btn-blue btn-right" href="{{ site.author.resume }}" target="_blank">Resume</a>
				{% endif %}
            </div>
        </div>
    </div>
</section>
