<section id="projects">
    <div class="wrapper">
        <div class="text-center">
            <h1 class="blue-title">Github Projects</h1>
        </div>
        <div id="vertical-timeline" class="light-timeline">

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>Simple BuiltRoot for BiscuitOS</a></h4>
                    <p>
						<span>This is a open Github project to establish a Rootfs for BiscuitOS, please check out the <a href="https://biscuitos.github.io/blog/HomePage/" target="_blank">installation</a> guide for more information. It's welcomed to give me a star at github if you like it.</span>
						<div>
							<a class="github-button" href="https://github.com/BiscuitOS/BiscuitOS" data-count-href="BiscuitOS/BiscuitOS/stargazers" data-count-api="/repos/BiscuitOS/BiscuitOS#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star BiscuitOS/BiscuitOS on GitHub">Star</a>
							<a class="github-button" href="https://github.com/BiscuitOS/BiscuitOS/fork" data-count-href="/BiscuitOS/BiscuitOS/network" data-count-api="/repos/BiscuitOS/BiscuitOS#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork BiscuitOS/BiscuitOS on GitHub">Fork</a>
						</div>
					</p>
                </div>
            </div>
            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>A kernel of BiscuitOS</a></h4>
                    <p>
                        <span>The Kernel of BiscuitOS contains legacy Linux kernel from 0.11 upto 1.0.1. Full Demo code and debug mechanism to study mechanism for subsystem.</span>
                    </p>
                    <img src="../assets/images/pocket-weather.jpg"/>
                    <p>
		        <a class="github-button" href="https://github.com/BiscuitOS/Kernel" data-count-href="BiscuitOS/Kernel/stargazers" data-count-api="/repos/BiscuitOS/Kernel#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star BiscuitOS/Kernel on GitHub">Star</a>
                        <a class="github-button" href="https://github.com/BiscuitOS/Kernel/fork" data-count-href="/BiscuitOS/Kernel/network" data-count-api="/repos/BiscuitOS/Kernel#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork BiscuitOS/Kernel on GitHub">Fork</a>
                    </p>
                </div>
            </div>
			<div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>Open Documention for BiscuitOS</a></h4>
                    <p>
						<span>Free and Open <a href="https://github.com/BiscuitOS/Documentation" target="_blank">Documentation</a> for BiscuitOS </span>
		   </p>
                </div>
            </div>
        </div>
    </div>
</section>
