<section id="projects">
    <div class="wrapper">
        <div class="text-center">
            <h1 class="blue-title">Github Projects</h1>
        </div>
        <div id="vertical-timeline" class="light-timeline">

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>BiscuitOS Open Project</a></h4>
                    <p>
                        <span>BiscuitOS is an open project that used to build a simple Linux-Dirstro on Qemu/RaspberryPi. The <a href="https://github.com/BiscuitOS/BiscuitOS" target="_blank">Github Page</a> to obtain full source code. The BiscuitOS is base on Linux 0.x, 1.x, 2.x, 3.x, 4.x, 5.x kernel.</span>
			<span>BiscuitOS Support Arm/Arm64/Riscv32/Riscv64 CPU, and Support RaspberryPi 3B/4B. BiscuitOS support Desktop and Server.</span>
                    	<img src="../assets/images/pocket-weather.jpg"/>
                    </p>
                </div>
            </div>
            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>BiscuitOS Desktop Release</a></h4>
                    <p>
                        <span>BiscuitOS-Desktop base on Debian 10 and Xfce4. Download BiscuitOS-Desktop and running on Qemu/RaspberryPi.</span>
                    </p>
                    <p></p>
                    <p></p>
                    <p>BiscuitOS-Desktop 0.04 (2019-11-15) <a href="https://github.com/BiscuitOS/BiscuitOS" target="_blank">Download</a></p>
                    <p>BiscuitOS-Desktop 0.10 (2019-11-20) <a href="https://github.com/BiscuitOS/BiscuitOS" target="_blank">Download</a></p>
                    <p></p>
                    <img src="../assets/images/Desktop.JPG"/>
                </div>
            </div>
        </div>
    </div>
</section>
